*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
width: 100vw;
}
.nav{
    height: 20vh;
    width: 100vw;
    background-color: #0a0a0a;

    display: flex;
    justify-content: center;
}
.nav-left{
    height: 20vh;
    width: 35vw;
    /* background-color: pink; */

    display: flex;
    align-items: center;
    
}
.nav-right{
    height: 10vh;
    width: 50vw;
    /* background-color: red; */

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}
.nav-right> Button{
    padding: 15px 20px;
    background-color: black;
    color: white;
    border: 1px solid white;
    font-size: 15px;
}
.hover{
    animation: popup .8s linear 5;
 }
 
a{
    text-decoration-line: none;
    color: white;
    font-size: 15px;
}
/* -------------------------------------------------------------nav------------------------------------------------------------- */
/* -------------------------------------------------------------page1------------------------------------------------------------- */

.page1{
    height: 100vh;
    width: 100vw;
    /* border: 2px solid red; */
    background-color: #0a0a0a;
    display: flex;
}
.lcontent{
    height: 80vh;
    width: 35vw;
    /* background-color: pink; */

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
     gap: 40px;
}

.lcontent> img{
    margin-right: 50%;
}

.lcontent> h1{
    font-size: 70px;
    color: white;
    width: 60%;
    /* background-color: blue; */
    margin-right: 10px;
    
}
.rcontent{
    height: 91vh;
    width: 65vw;
    
}
.rcontent> img{
    height: 100%;
    scale: 1.1;
    object-fit: cover;
}


/* ------------------------------------------------------------page1----------------------------------------------------------------- */
/* ------------------------------------------------------------page2----------------------------------------------------------------- */

.page2{
    height: 100vh;
    width: 100vw;
    background-color: #0a0a0a;

    display: flex;
}
.leftcontent{
    height: 100vh;
    width: 40vw;

    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
    text-align: start;

    margin-left: 30px;
}
.leftcontent> h2{
    font-size: 30px;
    width: 70%;
    /* background-color: blue; */
    color: white;

}
p{
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    width: 71%;
    color: grey;
}
.leftcontent> button{
    padding: 15px 25px;
    background-color: transparent;
    color: #d60039;
    border: 1px solid #d60039;
    margin-top: 50px;
    margin-right: 240px;
    
}
.rightcontent{
    height: 100vh;
    width: 56.9vw;
    /* background-color: pink; */

}
.top{
    height: 15%;
    width: 65%;
    /* background-color: red; */
}
.top> h1{
    font-size: 50px;
    color: white;
}
span{
    color: #d60039;
}



/* ---------------------------------------------------------------------------------------------------------------------------------- */


 .page2{
    height: 100vh;
    width: 100vw;
    background-color: #0a0a0a;

    display: flex;
}
.leftcontent{
    height: 100vh;
    width: 40vw;

    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
    text-align: start;

    margin-left: 60px;
    margin-top: 20px;
}
.leftcontent> h2{
    font-size: 30px;
    width: 70%;
    /* background-color: blue; */
    color: white;

}
p{
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    width: 71%;
    color: grey;
}
.leftcontent> button{
    padding: 15px 25px;
    background-color: transparent;
    color: #d60039;
    border: 1px solid #d60039;
    margin-top: 50px;
    margin-right: 230px;
    
}

.rightcontent{
    height: 100vh;
    width: 70vw;
     margin-top: 40px;

}
.top{
    height: 15%;
    width: 65%;
    /* background-color: red; */
}
.top> h1{
    font-size: 50px;
    color: white;
}
span{
    color: #d60039;
}
.bottom{
    height: 85%;
    width: 100%;
    display: flex;
}

.right{
    height: 100%;
    width: 50%;
    
    /* background-color: rgb(39, 16, 20); */
}
.box1{
    height: 20%;
    width: 85%;
    /* display: flex; */
    /* background-color: pink; */
}
.above{
    height: 50%;
    width: 100%;
    /* background-color: black; */
    display: flex;
    gap: 260px;
    margin-top: 10%;
    
}
.above> h1{
    margin-top: 15px;
    color: #d60039;
    font-family: "Playfair Display", serif;

}
.below{
    height: 50%;
    width: 100%;
    gap: 100px;
    /* background-color: purple; */
    margin-top: 5px;
    color: white;
}
.below> hr{
    color: grey;
    opacity: 0.2;
    width: 95%;
}
.below> h3{
    color: grey;
}

.left{
    
    height: 100%;
    width: 50%;
    /* background-color: rgb(217, 37, 67); */
}
 /* ---------------------------------------------------page2------------------------------------- */
/* ----------------------------------------------------page3------------------------------------------------------ */


.page3{
    height: 110vh;
    width: 100vw;
    background-color:  #0a0a0a;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.header{
    height: 10%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    }
.header> h1{
    color: white;
    margin-left: 70px;
    
}
.headercontent{
    height: 100%;
    width: 100%;
    /* background-color: purple; */

    display: flex;
}
.start{
    height: 100%;
    width: 35%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    
}

.startcontent{
    height: 20%;
    width: 72%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* background-color: pink; */
    }
.rating{
    height: 20%;
    width: 6%;
    /* background-color: green; */

    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
.startcontent> h3{
color: white;
}
#rate{
    color: white;
}
#para{
    color: grey;
}
hr{
    color: grey;
}

.middle{
    height: 100%;
    width: 35%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}
.middlecontent{
    height: 20%;
    width: 72%;
    /* background-color: red; */
    
}
.rating{
    height: 20%;
    width: 6%;
    /* background-color: green; */

    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
.middlecontent> h3{
color: white;
}
#rate{
    color: white;
}
#para{
    color: grey;
}
.startcontent> hr{
    color: grey;
    opacity: 0.2;
}

.endcontent> hr{
    color: grey;
    opacity: 0.2;
}
.end{
    height: 100%;
    width: 35%;
    /* background-color: purple; */

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}
.endcontent{
    height: 20%;
    width: 72%;
    /* background-color: pink; */
    flex-direction: column;
    gap: 8px;
    
}
.rating{
    height: 20%;
    width: 6%;
    /* background-color: green; */

    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
.endcontent> h3{
color: white;
}
#rate{
    color: white;
}
#para{
    color: grey;
}
hr{
    color: grey;
}


/* -----------------------------------------------------------------------page3------------------------------------------------ */
/* -----------------------------------------------------------------------page4------------------------------------------------ */

.page4{
    height: 50vh;
    width: 100%;
    background-color: #0a0a0a;

    
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 50px;
}
.page4> h1{
    color: white;
    font-size: 60px;
    /* background-color: pink; */
    width: 900px;
    text-align: center;
    margin-top: 40px;
    

}
.page4> button{
    padding: 15px 25px;
    background-color: transparent;
    color: #d60039;
    border: 1px solid #d60039;

}
.hover{
    animation: popup .8s linear 5;
}
@keyframes popup{
    0%{
        scale: 1;
    }
    25%{
        scale: 1.2;
    }
    50%{
        scale: 1;
    }
    75%{
        scale: 1.2;
    }
    100%{
        scale: 1;
    }
}

/* ---------------------------------------------------------page4----------------------------------------------------------- */
/* ---------------------------------------------------------page5----------------------------------------------------------- */

.page5{
    height: 110vh;
    width: 100vw;
    background-color:  #0a0a0a;
    display: flex;
    flex-direction: column;
}
.p5header{
    height: 10%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    
}
.p5header> h1{
    color: white;
    margin-left: 70px;
    
}
.p5headercontent{
    height: 100%;
    width: 100%;
    /* background-color: purple; */

    display: flex;
    flex-direction: row;
}
.p5start{
    height: 100%;
    width: 35%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    
}

.p5startcontent{
    height: 20%;
    width: 72%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* background-color: pink; */
    
}
.rating{
    height: 20%;
    width: 6%;
    /* background-color: green; */

    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
.startcontent> h3{
color: white;
}
#rate{
    color: white;
}
#para{
    color: grey;
}
hr{
    color: grey;
}

.p5middle{
    height: 100%;
    width: 35%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}
.p5middlecontent{
    height: 20%;
    width: 72%;
    /* background-color: red; */
    
}
.rating{
    height: 20%;
    width: 6%;
    /* background-color: green; */

    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
.middlecontent> h3{
color: white;
}
#rate{
    color: white;
}
#para{
    color: grey;
}
hr{
    color: grey;
}
.p5end{
    height: 100%;
    width: 35%;
    /* background-color: purple; */

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}
.p5endcontent{
    height: 20%;
    width: 72%;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}
.rating{
    height: 20%;
    width: 6%;
    /* background-color: green; */

    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
.endcontent> h3{
color: white;
}
#rate{
    color: white;
}
#para{
    color: grey;
}
hr{
    color: grey;
}
/* -------------------------------------------------------------------------page5------------------------------------------- */
/* -------------------------------------------------------------------------page6------------------------------------------- */

.page6{
    height: 60vh;
    width: 100vw;
    background-color:  #0a0a0a;

    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}
.page6> h1{
    color: white;
    font-size: 70px;
    /* background-color: pink; */
    width: 600px;
    text-align: center;
}
.page6> p{
    color: grey;
    font-size: 19px;
    /* background-color: pink; */
    width: 700px;
    text-align: center;
}
.bigbox{
    height: 30%;
    width: 100%;
    /* background-color: pink; */

    display: flex;

    flex-direction: row;
}
.bigbox1{
    /* background-color: blue; */
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}
.bigbox1> h4{
    color: grey;
    /* background-color: pink; */
    width: 300px;
    font-size: 15px;
    line-height: 20px;
}
.bigbox2{
    /* background-color: red;/ */
    height: 100%;
    width: 35%;
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}
.bigbox2> h4{
    color: grey;
    /* background-color: pink; */
    width: 300px;
    font-size: 15px;
    line-height: 20px;
}
.bigbox3{
    /* background-color: green; */
    height: 100%;
    width: 35%;
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}
.bigbox3> h4{
    color: grey;
    /* background-color: pink; */
    width: 300px;
    font-size: 15px;
    line-height: 20px;
}
.btn{
    height: 30%;
    width: 100%;
    /* background-color: pink; */
    /* background-color: yellowgreen; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.p6btn{
    padding: 15px 25px;
    background-color: transparent;
    color: #d60039;
    border: 1px solid #d60039;
}
.hover{
    animation: popup .8s linear 5;
}
@keyframes popup{
    0%{
        scale: 1;
    }
    25%{
        scale: 1.2;
    }
    50%{
        scale: 1;
    }
    75%{
        scale: 1.2;
    }
    100%{
        scale: 1;
    }
}


/* ---------------------------------------------------------------page6----------------------------------------- */
/* ---------------------------------------------------------------page7----------------------------------------- */


.page7{
    height: 35%;
    width: 100%;
    background-color: #cecece;
    display: flex;
}

.footerbox1{
    height: 100%;
    width: 35%;
    /* background-color: red; */
    display: flex;
    align-items: start;
    justify-content: start;

}
.footerbox1> img{
    margin-left: 100px;
    margin-top: 50px;
}
.footerbox2{
    height: 100%;
    width: 25%;
    /* background-color: rgba(255, 0, 0, 0.23); */

    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}
.footerbox2> ul{
    color:  grey;
}

.footerbox3{
    height: 70%;
    width: 25%;
    /* background-color: rgb(158, 55, 55); */

    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    line-height: 20px;

}
.footerbox3> h4{
    /* background-color: pink; */
    width: 200px;
    text-align: start;
}
.footerbox3> h4{
    color:  grey;
}
.footerbox4{
    height: 60%;
    width: 25%;
    /* background-color: rgb(57, 14, 14); */
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;


}
.footerbox4> h4{
    color:  grey;
}
.footerbox4> h4{
    
    text-align: start;
}

.p6btn{
    padding: 15px 25px;
    background-color: transparent;
    color: #d60039;
    border: 1px solid #d60039;
}

/* ------------------------------------------------------------------------------page7---------------------------------------- */
/* -------------------------------------------------------------------------------page8---------------------------------------- */


.page8{
    height: 7%;
    width: 100%;
    background-color: #363636;

    display: flex;
    align-items: center;
    justify-content: center;
}
.page8> h4{
    color: grey;

}
/* --------------------------------------------------------------------------------page8------------------------------------------------ */




/* --------------------------------RESPOMSIVE CODE----------------------------------------- */

@media(max-width:600px)  {
    #main{
        width: 100;
        background-color: red;
    }
    .nav{
        /* border: 2px solid red; */
        }

   .page1{
    width: 100vw;
    /* border: 2px solid yellow; */
    flex-direction: column;
    position: relative;
    }

   .lcontent{
       width: 100%;
       /* border: 2px solid blueviolet; */
    }
    
     .lcontent> h1{
    width: 90%;
    margin-right: 0px;
}
    
.lcontent> img{
    margin-right: 70%;
    position: absolute;
    bottom: 45%;
    z-index: 1;
}

.rcontent{
    height: 100%;
    width: 100%;
    /* overflow: hidden;  given in the box only */
    /* border: 2px solid red; */
}
.rcontent> img{
    height: 100%;
    width: 100%;
    scale: 1;
    object-fit: cover;
}

}
/* ------------------------------------------------------- */
@media(max-width:600px) {
    .page2{
        height: 273vh;
        width: 100%;        
        /* border: 5px solid red; */
        flex-direction: column;
        display: flex;
    }
    .leftcontent{
        height: 75vh;
        width: 100%;
        /* border: 2px solid yellow; */
        margin-left: 0%;
        padding: 0px 15px;
        justify-content: center;
   }
    .leftcontent> h2{
        width: 100%;
    }
    p{
     width: 100%;  
    }
    .leftcontent> button{
        padding: 15px 25px;
        margin: 0px;
        margin-right: 190px;
        margin-top: 40px;
    }

    .box1{
        height: 25vh;
    width: 100%;
    /* border: 5px solid rgb(202, 225, 70); */
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    }
    
    .above{
        margin-top: 0%;
        gap: 210px;
    }
    .above>img{
       width: 45px;
    }

    .above> h1{
        font-size: 45px;
        line-height: 40px;
        font-weight: 600;
        color: #d60039;
        font-family: "Playfair Display", serif;
     }
    .rightcontent{
        height: 150vh;
        width: 100%;
        margin-bottom: 150px;
    }
    .top{
        height: 25%;
        width: 100%;
    padding: 0px 15px;

    }
    
    .bottom{
        height: 153vh;
        flex-direction: column;
        justify-content: center; 
    }
    
.right{

    height: 75vh;
    display: flex;
    flex-direction: column;
   justify-content: center;
    width: 100%;
}
.below> hr{
    width: 100%;
}

.below> h3{
    color: grey;
    font-size: 16px;
    opacity: 0.7;
}
.below> h2{
    margin: 6px 0px;
    opacity: 2;
}
    
.left{
    height: 80vh;
  width: 100%;
}

}
/* -------------------------------------------------------- */
@media(max-width:600px) {
    .page3{
        height: 300vh;
        /* border: 5px solid red; */
        
        
    }
    .header{
    /* background-color: aqua; */
    height: 5%;
    padding: 0px 2px;
    
    }
    .header> h1{
        /* width: 100%; */
        padding:0px 5px;
        margin: 0%;
    }
    .headercontent{
        flex-direction: column;
        

    }
    .start{
        width: 100%;
        gap: 0%;
    }
   .startcontent{
    width: 100%;
    height: 50%;
    padding-left: 20px;

      
}
.endcontent{
    width: 100%;
    height: 50%;
    padding-left: 20px;
}
.middle{
    width: 100%;
    gap: 0%;
}
.end{
    width: 100%;
    gap: 0%;
}
#para{
    font-size: 15px;
}
}
/* --------------------------------------------------------- */
@media(max-width:600px) {
    .page4{
        height: 70vh;
        width: 100%;
    }

.page4> h1{
    width: 95%;
    height: 50%;
    font-weight: 600;
    font-size: 50px;
}
.page4> button{
    width: 65%;
    padding: 10px 5px;
}
}
/* ---------------------------------------------------------- */
@media(max-width:600px) {
    .page5{
        height: 280vh;
        /* border: 5px solid red; */

   }
   .p5header{
    height: 5%;
    padding: 0px 2px;
    
    }
    .header> h1{
        /* width: 100%; */
        padding:0px 5px;
        margin: 0%;
    }
    .headercontent{
        flex-direction: column;
    }
    .p5start{
        width: 100%;
        gap: 0%;
    }
   .p5startcontent{
    width: 100%;
    height: 50%;
}
.p5endcontent{
    width: 100%;
    height: 30%;
    padding-left: 20px;
    
}
    
   .p5middle{
    width: 100%;
    gap: 0%;
}

   .p5end{
    width: 100%;
    gap: 0%;
}

#para{
    font-size: 15px;
}
hr{
    color: grey;
}
}

/* ------------------------------------------------- */
@media(max-width:600px) {
    .page6{
        height: 120vh;
        width: 100%;
        /* border: 5px solid red; */
        justify-content: center;
        gap: 5px;
    
    }
    .page6> h1{
        width: 80%;
        height: 20vh;
        font-size: 50px;
        /* padding: 20px 10px; */
        /* background-color: rgb(85, 255, 0); */

        
    }
    .page6> p{
        height: 12vh;
        padding: 0px 0px;
        width: 360px;
        text-align: center;
        /* background-color: rgb(255, 0, 166); */

    }
    .bigbox{
        height: 60vh;
        flex-direction: column;
        align-items: center;
        /* background-color: rgb(255, 255, 0); */
/*  */
        
    }
    
    .bigbox1{
    height: 30vh;
    width: 70%;
    /* border: 1px solid blue; */
    }
    .bigbox1> h4{
   width: 80%;
    }
    .bigbox2{
    height: 30vh;

        width: 70%;
    /* border: 1px solid blue; */

    }
    .bigbox2> h4{
        width: 80%;
         }
    
    .bigbox3{
    height: 30vh;

      width: 70%;
    /* border: 1px solid blue; */

    }
    .bigbox3> h4{
        width: 80%;
         }
    .btn{
        /* background-color: rgb(0, 85, 255); */
            height: 20vh;
            width: 100%;
        }
    .p6btn{
            /* padding: 0px 0px; */
            /* width: 65%; */
            padding: 10px 15px;
         }

    
}
/* --------------------------------------------------- */
@media(max-width:600px) {
    .page7{ 
        height: 100%;
        width: 100%;
        /* border: 5px solid red; */
        flex-direction: column;
     }
    .footerbox1{
        height: 30%;
        width: 100%;
        display: flex;
        justify-content: center;
        /* border: 5px solid red; */
        padding: 15px 0px;
 
    }
    .footerbox1> img{
        margin: 0%;
        

    }
    .footerbox2{
        height: 40%;
        width: 100%;
        align-items: center;
       }
       .footerbox3{
        height: 30%;
        width: 100%;
        align-items: center;
       }
       .footerbox3> h4{
        width: 75%;
       }
       .footerbox4{
        height: 30%;
        width: 100%;
        align-items: center;
       }
}
/* -------------------------------------------------- */